name: build-project-and-launch-tests
run-name: ${{ github.actor }} is pushing contents and launching build and tests
on: [push]
jobs:
  build-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build with Maven
        run: mvn compile

  test-project:
    runs-on: ubuntu-latest
    needs: [build-project]
    steps:
      - uses: actions/checkout@v3
      - name: Tests with Maven
        run: mvn -B test --file pom.xml

      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: target/surefire-reports

      - name: Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Maven Tests
          path: target/surefire-reports/test-results/*.xml
          reporter: java-junit